
<link rel="stylesheet" href="/css/movie.css" asp-append-version="true" />
<script src="/js/movie.js" ></script>
<section class="ta-tab">
        <div class="container">
            <div class="tab">
                <button id="btnpopular" class="tablinks" value="popular">Popular</button>
                <button id="btnnowplaying" class="tablinks" value="now_playing">Now Playing</button>
                <button id="btnupcoming" class="tablinks" value="upcoming">Upcoming</button>
                <button id="btntoprated" class="tablinks" value="top_rated"> Top Rated</button>
            </div>
            <div id="popular" class="tabcontent">
                <h3>Popular Movies</h3>
                <section class="ta-sectionWrapper">
                    <div class="container">
                        <div class="now-showingWrapper">
                            <div class="ta-titleWrapper">
                                <div class="ta-title">
                                    Top Rated Movies     
                            <div class="ta-showingMovie">
                        </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section> 